.case_link {
    // Style
    text-decoration: none;
    color: black;
}

.case {
    // Scale
    height: 550px;
    width: 100%;
    max-width: 400px;
    // Style
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.preview {
    // Scale
    height: 50%;
    // Location
    display: flex;
    justify-content: center;
    align-items: center;
    // Style
    border-radius: 16px;
    background-color: whitesmoke;
    overflow: hidden;
}

.preview_logo {
    // Style
    width: 130px;
    // Location
    position: absolute;
}

.preview_image {
    // Scale
    width: 100%;
    height: 100%;
    // Location
    object-fit: cover;
}

.content {
    // Scale
    padding: 40px 20px;
}

.heading {
    // Style
    font-size: 16px;
}

.hr {
    // Scale
    height: 2px;
    width: 32px;
    margin: 12px 0;
    // Style
    color: #FD8C3B;
    background-color: #FD8C3B;
    border: 0px none;
}

.paragraph {
    // Style
    font-size: 16px;
    line-height: 24px;
}
