.nav_bar {
    // Scale
    width: 100%;
    height: 72px;
    // Location
    position: fixed;
    bottom: 0;
    z-index: 2;
    // Style
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 -6px 10px rgba(187, 187, 187, 0.15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-mask: url("./../../images/content/bar-part.svg") right/cover no-repeat;
    mask: url("./../../images/content/bar-part.svg") right/cover no-repeat;
}

.send_application {
    // Scale
    width: 84px;
    height: 84px;
    // Location
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 24px;
    bottom: 30px;
    z-index: 2;
    // Style
    background-color: #eb6309;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 10px grey;
}

.send_application img {
    // Animation
    transition: .2s;
}

.link_button {
    // Style
    border: none;
    background: none;
}

.nav_links {
    // Scale
    width: calc(100vw - 25px - 100px);
    height: 100%;
    // Location
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_links li {
    // Style
    list-style-type: none;
}

.background {
    // Scale
    height: 100vh;
    width: 100vw;
    // Location
    position: fixed;
    top: 0;
    z-index: 2;
    // Style
    background-color: rgba(0, 0, 0, 0.3);
}
